@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
  color: #ecd3b5;
}

input {
  outline: none;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif !important;
  }
}
